.bg-container {
  height: 100vh;
}

#button1 {
  height: 100px;
  width: 100px;
  background-color: #e0e0e0;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  color: black;
}

#button2 {
  height: 100px;
  width: 100px;
  background-color: #6fcf97;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  color: black;
}

#button3 {
  height: 100px;
  width: 100px;
  background-color: #56ccf2;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  color: black;
}

#button4 {
  height: 100px;
  width: 100px;
  background-color: #bb6bd9;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  color: black;
}

.background {
  background-color: black;
  color: white;
  text-align: center;
  height: 40px;
  padding: 5px;
  font-weight: bold;
  margin-top: 25px;
  border-radius: 5px;
}

span {
  color: skyblue;
}
